<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyCash">
  <test thread-count="5" name="Sales_Cash">
  <classes> 
  <class name="automation_TestNG_Sat.MyCash">
  <methods> <exclude name="myCashSales_1"></exclude></methods>
  </class>
   <class name="automation_TestNG_Sat.MyCreditCard">
    <methods> <exclude name="myCredit1"></exclude></methods>
   </class>
   <class name="automation_TestNG_Sat.MyVoucher">
    <methods> <exclude name="myVoucher1"></exclude></methods>
   </class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
